{#
/**
 * @file
 * Default theme implementation for the Matthew Tables form.
 *
 * Available variables:
 * - form: The rendered form structure.
 *   This variable contains the entire form as rendered by Drupal's Form API,
 *   including all form elements, submit buttons, and any custom markup.
 *   It represents tables that can be created, with years for each table
 *   where quarterly and annual values are calculated upon form submission.
 *
 * @see template_preprocess_matthew_tables_form()
 *
 * @ingroup themeable
 */
#}
<div class="matthew-tables-form">
  {{ form }}
</div>
